*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: darkgrey;
    font-size: 100px;


}
h1{
    background-color: brown;
    margin-bottom: 200px;
    color: white;
    font-size: 52.2px;
}